

.busca-por{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.class-div-erro{
    font-size: 11px;
    color: red;
}

#botao-logout{
    cursor: pointer;
}